
body { 
    font: 20px Arial, sams-serif;
}
.navbar {
    background-color:yellow;
 
}
.quem-somos {
     background-color:rgb(23, 23, 184);
     color:white;
     
}

.margin {
    padding-bottom: 10px;
    padding-top: 10px;
}

.Parceiros {
     background-color:rgb(107, 10, 10);
     color: white;
}

.Competições {
    background-color:rgb(77, 72, 72);
    color:white;

}

.bg-footer {
    background-color:black;
    color:whitez;
}


